.App {
  text-align: center;
}

/***** reset *****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Noto Sans KR';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/******************** Header ********************/

.headerInfo {
  font-size:12px; 
  color:#757575!important;
	cursor:pointer;
}

.headerIcon li {
	display:inline-block;
	width:74px;
	text-align:center;
}

.headerMenu {height:50px;}

/* .searchBtn {
	position:absolute;
	top: 8px;
	right: 15px;
	opacity: 1;
	width: 28px;
	height: 28px;
	outline: none;
	border:none;

} */
.searchBtn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://static.lotteon.com/p/common/foCommon/assets/img/icon_search_mask.png");
    background-size: 28px;
		background-color:#1352a2;
}

/******************** flex align ********************/

.flexStart {
  display:flex;
  justify-content:flex-Start; 
  align-items:center;
}

.flexEnd {
  display:flex;
  justify-content:flex-end; 
  align-items:center;
}

.flexSpaceBetween {
  display:flex;
  justify-content:space-between; 
  align-items:center;
}

.alignitemT {
	align-items:flex-start;
}

/******************** margin ********************/

.marginR-10 {
	margin-right:10px;
}

.marginL-10 {
	margin-left:10px;
}

.marginR-20 {
	margin-right:20px;
}

.marginL-20 {
	margin-left:20px;
}

.marginTB-15 {
	margin-top:15px;
	margin-bottom:15px;
}

/******************** padding ********************/
.paddingTB-15{
	padding:15px 0;
}

/******************** Color ********************/

.bgBlue {
	background-color:#1352a2
}

.bgeee {
	background-color:#eee
}

/******************** bar ********************/

.bar {
	position:absolute;
	left:50%;
	margin-left:-14px;
	top:50%;
	margin-top:-1px;
	width:28px;
	height:2px;
	background-color:#fff;

}
.bar:before {
	content: "";
	position:absolute;
	left:0;
	top:-8px;
	margin-top:-1px;
	width:28px;
	height:2px;
	background-color:#fff;

}
.bar:after {
	content: "";
	position:absolute;
	left:0;
	top:9px;
	width:28px;
	height:2px;
	background-color:#fff;

}

/******************** border-radius ********************/
.borderRadius-10 {
	border-radius:10px;
}

/******************** overflow ********************/

.ovfHidden {
	overflow:hidden;
}


/**/
.menuBar{
	/* padding: 1rem; */
	background: #be5eff;
	width: 100%;
	margin-bottom: 1rem;
}
.tabs li{
	font-size: 1rem;
	font-weight: bold;
	display: inline-block;
	color: #efefef;
	padding: 1rem;
}
.tabs li.active{
	background-color: #6f03b7;
	height: 100%;
}