.slideWrap {
  width: 360px;
  margin-right: 30px;
  height: 270px;
  padding: 66px 0px;
}

.thumb {
  border-radius: 14px;
  background-color: rgb(243, 243, 243);
  width: 360px;
  height: 203px;
  position:relative;
  /* align-items: center;
  vertical-align: center; */
}

.TextGrid {
  width: 360px;
  margin-top: 10px;
  margin-bottom: 11.5px;
}

.smallTextBox {
  font-size: 11px;
  border: 1px solid #333;
  display: inline-block;
  color: #333;
  vertical-align: top;
  line-height: 15px;
  margin: 0px 4px 5px 0px;
  border-radius: 2px;
  padding:2px 3px;
}

.TextTitle {
  margin-bottom: 15px;
  margin-top: 4px;
}

.PriceText {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700px;
}
