.wrap {
  width: 785px;
}

.productDetailContents {
  width: 785px;
  padding-right: 36px;
}

.titleName {
  padding: 0 84px;
  width: 617px;
  border-bottom: 1px solid #eee;
}

.contetntGrid {
  padding: 35px 36px 0 0;
}

.productDetail {
  height: 90px;
  border-radius: 14px;
  overflow: hidden;
  padding: 20px 24px;
  background-color: #f8f8f8;
  align-items: center;
  vertical-align: center;
}
