.Wrap {
  padding-bottom: 20px;
  max-width: 438px;
  position: relative;
  float: right;
  margin-left: 80px;
}

.brand {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  widows: 1;
}

.span {
  font-size: 12px;
  color: #ff7e0e;
  display: inline-block;
  border: 1px solid #ff7e0e;
  padding: 1px 4px 0;
  border-radius: 2px;
  margin-right: 10px;
  line-height: 1.42;
  height: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.smallT {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  display: block;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.title {
  width: 100%;
  /* border-bottom: 1px solid #333; */
}

.textH1 {
  font-size: 28px;
  letter-spacing: -0.8px;
  line-height: 38px;
  max-width: 100%;
  word-break: break-all;
  padding-bottom: 18px;
}

.price {
  border-top: 1px solid #333;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin-bottom: 20px;
  width: 100%;
}

.priceText {
  color: #333;
  height: 36px;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: 700;
}

.won {
  color: #333;
  height: 36px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0;
  margin-left: 2px;
}

.form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  widows: 1;
  display: flex;
}

.atag {
  position: relative;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  background-color: #f9f6fd;
  padding: 0 16px;
  display: block;
  margin-top: 12px;
}

.boxfont {
  display: inline-block;
  color: #773dbd;
  line-height: 48px;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 700;
}

.select {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f8f8f8;
  border-radius: 6px;
}

.priceOption {
  padding: 12px 20px;
}

.cart {
  background: #fff;
  color: #1352a2 !important;
  border-color: #1352a2 !important;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  height: 52px;
  padding: 0px 20px;
  margin-top: 8px;
  width: 100%;
  border-radius: 6px;
}

.buttonBorder {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  width: 100%;
}
